@use '../abstracts/' as a;

.App{
  background-color: a.$color-primary;
  padding: 2em;
}

footer{
  background-color: a.$color-tertiary;
}

// nesting

.nav{
  width: 50%;
  ul{
    @include a.flexRowSpread()
  }

  ul li {
    list-style: none;
  }

  a {
      @include a.hoverAnimation(color 0.3s);
      text-decoration: none;

      &:hover {
        color: a.$color-secondary
      }

  }
}

.navigation-container{
  @include a.flexRowEnd()
}
