@use '../abstracts/' as a;

.App{
  position: relative;
  background-color: a.$color-primary;
  padding: 4em;
}

footer{
  background-color: a.$color-tertiary;
}

.homepage-padding{
  padding: 0 15em;
}

// nesting

.nav{
  width: 100%;
  ul{
    @include a.flexRowSpread()
  }

  ul li {
    list-style: none;
  }

  a {
      @include a.hoverAnimation(color 0.3s);
      text-decoration: none;

      &:hover {
        color: a.$color-secondary
      }
  }
}

.navigation-container{
  @include a.flexRowEnd()
}

.landingpage-image-container{
  position: relative;
  padding: 8em 5em;
  margin-bottom: 5em;
  width: 100%;
}

.landingpage-image-container-overlay{
  position: absolute;
  padding: 6em 3em 3em 3.3em;
  bottom: -4em;
  right: -7em;
  height: 25em;
  width: 30em;
  background-color: a.$color-secondary;
}

.logo-container{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  height: 35em;
  width: 5em;
  background-color: a.$color-quaternary
}

