@use './fonts.scss' as f;
@use './colors' as c;

@mixin flexRow{                             // layout mixins
    display: flex;
    align-items: center;
  }
  
  @mixin flexRowCenter(){
    @include flexRow;
    justify-content: center;
  }
  
  @mixin flexRowSpread(){
    @include flexRow;
    justify-content: space-between;
  }
  
  @mixin flexRowEnd(){
    @include flexRow;
    justify-content: flex-end
  }
  
  @mixin flexColumnCenter(){
    @include flexRowCenter;
    flex-direction: column;
  }
  
  @mixin flexColumnSpread(){
    @include flexColumnSpread;
    flex-direction: column;
  }
  
  @mixin flexColumnEnd(){
    @include flexRowEnd();
    flex-direction: column;
  }
  
  @mixin hoverAnimation($param...){             // animation mixins
    transition: $param;
  }
