$color-primary: #2F2FA2;
$color-secondary: #F64C72;
$color-tertiary: #99738E;
$color-quaternary: white;

$font-small: 0.85rem;
$font-medium: 1rem;
$font-large: 1.2rem;
$font-xlarge: 1.6rem;
$font-xxlarge: 2rem;

$weight-light: 300;
$weight-medium: 400;
$weight-bold: 600;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

// mixins

@mixin flexRow{
  display: flex;
  align-items: center;
}

@mixin flexRowCenter(){
  @include flexRow;
  justify-content: center;
}

@mixin flexRowSpread(){
  @include flexRow;
  justify-content: space-between;
}

@mixin flexRowEnd(){
  @include flexRow;
  justify-content: flex-end
}

@mixin flexColumnCenter(){
  @include flexRowCenter;
  flex-direction: column;
}

@mixin flexColumnSpread(){
  @include flexColumnSpread;
  flex-direction: column;
}

@mixin flexColumnEnd(){
  @include flexRowEnd();
  flex-direction: column;
}

@mixin fontStyles($fontSize, $fontWeight){
  color: $color-quaternary;
  font-family: 'Open Sans', sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  margin-bottom: 0.7em;

}

@mixin hoverAnimation($param...){
  transition: $param;
}
  
h1{
  @include fontStyles($font-xxlarge, $weight-bold);

}

h2{
  @include fontStyles($font-xlarge,$weight-medium);
}

h3{
  @include fontStyles($font-large,$weight-medium);
}

p{
  @include fontStyles($font-medium, $weight-light);
}

a, li{
  @include fontStyles($font-small, $weight-light);
}


.App{
  background-color: $color-primary;
  padding: 2em;
}

footer{
  background-color: $color-tertiary;
}

// nesting

.nav{
  width: 50%;
  ul{
    @include flexRowSpread()
  }

  ul li {
    list-style: none;
  }

  a {
      @include hoverAnimation(color 0.3s);
      text-decoration: none;

      &:hover {
        color: $color-primary
      }

  }
}

.navigation-container{
  @include flexRowEnd()
}
